body {
    margin: 0;
    padding:0;
    height: 100%;
}

.img1 {
    background-image: url('../Assets/santorini_1.jpg');
}

.img2 {
    background-image: url('../Assets/santorini_2.jpg');
}

.img3 {
    background-image: url('../Assets/santorini_3.jpg');
}

.img4 {
    background-image: url('../Assets/santorini_4.jpg');
}

.img5 {
    background-image: url('../Assets/santorini_5.jpg');
}

.img6 {
    background-image: url('../Assets/santorini_6.jpg');
}

.img7 {
    background-image: url('../Assets/santorini_7.jpg');
}

.bg_img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-wrapper{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate();
}